<div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class = "card"> 
                <div class="card-header" translate>Change Password</div>
                <div class="card-body">
                    <form [formGroup]="formgroup" (ngSubmit)="onSubmit()">
                    <input type="password" formControlName="password" placeholder="{{'New Password' | translate}}" class="form-control" [ngClass]="{'not-invalid' : invalidClass && formgroup.controls.password.invalid}">                   
                    <div *ngIf="getpassword.errors">
                        <p *ngIf="formSubmitted && getpassword.hasError('required')" style="color:rgba(255, 0, 0, 0.671)"><font size="2" translate>* Password is required</font></p>
                        <p *ngIf="formSubmitted && getpassword.hasError('minlength')" style="color:rgba(255, 0, 0, 0.671)" translate><font size="2">* Password Should be atleast 5 character</font></p>
                        <p *ngIf="formSubmitted && getpassword.hasError('maxlength')" style="color:rgba(255, 0, 0, 0.671)" translate><font size="2">* Password Should be no more than 8 character</font></p>
                    </div>
                    <p></p>
                    <input type="password" formControlName="repassword" placeholder="{{'Confirm Password' | translate}}" class="form-control" [ngClass]="{'not-invalid' : invalidClass && formgroup.controls.repassword.invalid}" >                      
                    <div *ngIf="getrepassword.errors">
                        <p *ngIf="formSubmitted && getrepassword.hasError('required')" style="color:rgba(255, 0, 0, 0.671)"><font size="2" translate>* Confirm Password is required</font></p>
                    </div>
                    <div *ngIf="passwordMatchFail">
                        <p style="color:rgba(255, 0, 0, 0.671)"><font size="2" translate>* Password not Match</font></p>
                    </div>
                    <p></p>
                    <button type="submit" class="btn btn-primary" translate>Change</button>
                    <br />
                    </form>
                </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
