.not-invalid {
  border: 1px solid rgba(255, 0, 0, 0.692);
}

.container {
  margin-top: 6%;
}

.btn.btn-primary {
  background: #004085;
  padding-top: 5px;
  border: #004085;
  font-size: 14px;
  font-weight: 800;
}
.required
{
  font-size: 80%;
  color: red;
}