/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';


body {
    overflow-x: hidden;
    width: 100%;
}

/* @font-face {
  font-family: "UbuntuRegular";
  src: local("Ubuntu"),
    url(./assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "UbuntuMedium";
  src: local("Ubuntu"),
    url(./assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "UbuntuBold";
  src: local("Ubuntu"),
    url(./assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format("truetype");
} */

.carousel-item {
    transition: opacity 1s ease-in !important;
    position: absolute !important;
    display: block !important;
    opacity: 0;
  }

  .carousel-item.active {
    position: relative !important;
    opacity: 1;
  }

   @media print {
    .printable {
      display:block;
    }

    .row.footer, .navbar, .row.header {
      display: none;
    }

    .target-content {
      margin: 0% !important;
    }

    @page { size: A4 landscape !important; }

  }

  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.3px !important;
        padding-left: .3rem !important;
    }
  }
  .fixTableHead {
    overflow-y: auto;
    height: 200px;
  }
  .fixTableHead thead th {
    position: sticky;
    top: 0;
  }
  .fixTableHead table {
    border-collapse: collapse;        
    width: 100%;
  }
  .fixTableHead th {
    background: white;
  }