<div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                    <div class = "card"> 
                            <div class="card-header" translate>Forgot your password ?</div>
                            <div class="card-body">
                                <font size='2' translate>subscription_alert</font><br />                           
                                <br />
                                <form [formGroup]="formgroup" (ngSubmit)="checkEmail()">
                                <input type='email' formControlName="email" placeholder="{{'Email' | translate }}" class="form-control" [ngClass]="{'not-invalid' : invalidClass && formgroup.controls.email.invalid}" />                                                     
                                <div *ngIf="getemail.errors">
                                    <p *ngIf="formSubmitted && getemail.hasError('required')" style="color:rgba(255, 0, 0, 0.521)"><font color="red" size="2" translate>* Email is required</font></p>
                                    <p *ngIf="formSubmitted && getemail.hasError('email')" style="color:rgba(255, 0, 0, 0.671)"><font color="red" size="2" translate>* Invalid Email</font></p>
                                </div>
                                <div *ngIf="userNotFound">
                                    <p style="color:red"><font size="2" translate>Email Not Found</font></p>
                                </div>
                                <p></p>
                                <button type="submit" class="btn btn-primary" translate>Find <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
                                <br />
                                </form>
                            </div>         
                        </div>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>



